.main {
    display: flex;
    flex-direction: row;
}

.arrows {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1rem;
  padding: 0.5rem;
  border-radius: 5%;
  text-align: center;
  font-weight: 500;
  width: 10%;
  text-decoration: none;
  transition: color 0.2s;
  color: #654e4088;
}

.arrows:hover {
  color: #654e40;
}

.arrows:hover .arrowTitle {
  text-decoration: underline;
}

.disabled {
  min-width: 10%;
  pointer-events: none;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  justify-content: center;
  align-items: flex-start;
  max-width: 600px;
  margin: auto;
}